body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
.btn-primary{
    padding: 20px 45px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

/* header style  */

.header{
    background: rgba(229, 84, 115, 0.10);
}
.header-content{
    align-items: center;
    gap: 55px;
    display: flex;
    margin: 0 200px;
}
.header-title{
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 30px;

}
.header-des{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;

}

.header-img{
    max-width: 50%; 
    padding-top: 30px; 
}

/* Featured shop style  */

.shop-Featured{
    text-align: center;
    margin: 150px 200px 130px;
}
.Featured-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}
.Featured-des{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.shop-Featured-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
}
.shop-items-1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.shop-items-2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.shop-items-3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.shop-img-1{
    width: 230px;
    height: 380px;
    padding: 120px 70px 0;
}
.shop-img-2{
    width: 280px;
    height: 300px;
    padding: 150px 40px 50px;
}
.shop-img-3{
    width: 230px;
    height: 400px;
    padding: 100px 70px 0;
}
.items-name{
    display: flex;
    justify-content: center;
    gap: 270px;
    text-decoration-line: underline;
    color: #272727;
    font-size: 18px;
    font-weight: 400;
}

/* support style  */

.support{
    margin: 0 200px 125px;
}
.support-items{
    display: flex;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    justify-content: center;
    text-align: center;
    gap: 100px;
    padding: 85px 100px;
}
.service-text{
    color: rgba(39, 39, 39, 0.80);
    font-size: 18px;
    font-weight: 400;
    
}
.service-img{
    align-items: center;
    width: 80px;
    height: 80px;
    padding-top: 25px;
}

/* hot-deal style  */

.hot-deal{
    background: rgba(229, 84, 115, 0.05);
    padding: 80px 0;
    margin-bottom: 100px;
}
.hot-deal-content{
    display: flex;
    align-items: center;
    margin: 0 200px;
    gap: 180px;
}
.deal-items{
    text-align: center;
}
.deal-text{
    color: #272727;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}
.d-text-color{
    color: #E55473;
}
.deal-des{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;
}

.deal-btn{
    padding: 20px 45px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.deal-banner-item{
    width: 318px;
    height: 420px;
}

/* instagram style  */

.instagram{
    text-align: center;
    margin: 0 200px;
}
.insta-heading{
    color: #272727;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
.insta-text{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}
.insta-items{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
}
.insta-img-item{
    width: 270px;
    height: 300px;
}

/* banner-section style  */

.banner-section{
    margin: 100px 200px 0;
}
.banner{
    text-align: center;
    background-image: url(../images/Rectangle\ 9.png);
    background-size: cover;
    padding: 40px;
}
.banner-heading{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}
.banner-text{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}
.email-text{
    width: 600px;
    height: 40px;
    border: 0;
    border-radius: 8px;
    padding: 12px;
    margin-right: 10px;
}
#b-btn{
    margin-bottom: 40px;
}

/* client review  */

.client-review{
    margin: 100px 200px 0;
}
.review-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
    border: 2px solid gray;
    padding: 10px;
    border-radius: 10px;
}
.client-header-content{
    text-align: center;
}
.header-text{
    color: #272727;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 10px;
}
.header-smile{
    color: #E55473;
}
.header-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 30px;  
}
.client-choise-img{
    width: 300px;
    height: 300px;
}
.review-text{
    margin-top: 100px;
}
.client-review-des{
    color: #272727;
}
.client-name{
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
}

/* footer-section style  */

.footer-section{
    background: #111010;
    max-width: 100%;
    height: 449px;
    margin-top: 100px;
}
.footer-items{
    text-align: center;
    padding: 100px;
}
.footer-heading{
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 20px;

}
.f-heading{
    color: #FFF;
}
.footer-text{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
}
.copyright{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}